.main{

    height: 470px;
    margin-left: 210px;
    margin-top: 10px;
}
.focus{

    width: 790px;
    height: 470px;

}
.focus-main{
    background-color: #b1191a;
    width: 590px;
    height: 470px;
}
.focus-sub{
    
    width: 190px;
    height: 470px;
}
.focus-sub a{
    display: block;
    margin-bottom: 10px;
}
.newsflash{

    background-color: red;
    width: 190px;
    height: 470px;
}
